.env.local
node_modules
dist
build
.DS_Store
*.log
*.cache
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
coverage
*.tsbuildinfo
eslintcache
*.zip
*.tar.gz
*.tgz
*.log
*.pid
*.seed
*.pid.lock
*.gz
*.log
*.sql
*.sqlite
*.sqlite3
*.log
*.csv
*.dat
*.out

